:root{
    --seashell: #f5f0e8;
    --khaki: #d3bd9a;
    --olive-drab: #a28f70;
    --dark-brown: #674f04;
} 

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Gidole", sans-serif;
    background-color: var(--olive-drab);
}

.title{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    text-shadow: 2px 4px rgba(0,0,0,0.2);
    color: var(--seashell);
    border-bottom: 4px solid var(--seashell);
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.toolbars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: var(--seashell);
    width: 600px;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.toolbars form{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.toolbars button{
    background-color: var(--khaki);
    padding: 4px 8px;
    border: 2px solid var(--dark-brown);
    color: var(--dark-brown);
    border-radius: 5px;
    cursor: pointer;
}

.filters, .read, .unread{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.books-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
    border-bottom: 12px solid var(--khaki);
    box-shadow: 0px 3px rgba(0,0,0,0.4);
}

.third{
    margin-bottom: 30px;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--seashell);
    box-shadow: 5px 5px rgba(0,0,0,0.4);
    color: var(--dark-brown);
    width: 100%;
    height: 100%;

}

.zoom{
    position: relative;
    width: 150px;
    height: 210px;
    margin-bottom: 10px;
}

.zoom-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    padding: 20px 30px;
    background-color: var(--khaki);
    color: var(--dark-brown);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.zoom:hover .zoom-div {
    transform: scale(1.2);
}

.zoom:hover .zoom-button {
    opacity: 1; 
    visibility: visible;
}

.view p{
    float: right;
    font-weight: bold;
    background-color: var(--khaki);
    padding: 4px 10px;
    border-radius: 5px;
    color: var(--dark-brown);
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    cursor: pointer;
}

.view p:hover{
    color: var(--seashell);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seashell;
    color: var(--dark-brown);
    padding: 5px 0 5px 0;
    border-top: 4px solid var(--dark-brown);
    font-weight: bold;
    margin-top: 15px;
}

#modal{
    margin: 0 auto;
    font-family: "Gidole", sans-serif;
}

.modal-content{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.close-modal-button, .input-form button {
    margin-top: 10px;
    background-color: red;
    color: var(--seashell);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.input-form button{
    background-color: green;
}

.close-modal-button:hover {
    background-color: #e53935;
}
